#totoro_box {
  display: flex;
  justify-content: center;
  /* height: 1500px; */
  /* width: auto; */
  /* border: solid black 4px; */
  margin: 15px;
}

/* LR Clouds section */

@keyframes floatInit {
  0% {
    transform: translatex(0%);
    opacity: 1;
  }
  100% {
    transform: translatex(-100%);
    opacity: 0;
  }
}

#Cloud7,
#Cloud6,
#Cloud5,
#Cloud4,
#Cloud3,
#Cloud2,
#Cloud1 {
  animation: floatInit 80s linear;
  animation-fill-mode: forwards;
}

@keyframes floata {
  0% {
    transform: translatex(120%) scalex(1) scaley(1);
  }
  50% {
    transform: translatex(-100%) scalex(1) scaley(1);
  }
  100% {
    transform: translatex(-100%) scalex(1) scaley(1);
  }
}
#Cloud7a,
#Cloud5a,
#Cloud6a,
#Cloud3a,
#Cloud4a,
#Cloud2a,
#Cloud1a {
  animation: floata 300s linear infinite;
}

@keyframes floatb {
  0% {
    transform: translatex(120%) scalex(1) scaley(1);
  }
  30% {
    transform: translatex(100%) scalex(1) scaley(1);
  }
  100% {
    transform: translatex(-100%) scalex(1) scaley(1);
  }
}

#Cloud7b,
#Cloud6b,
#Cloud5b,
#Cloud4b,
#Cloud3b,
#Cloud2b,
#Cloud1b {
  animation: floatb 280s linear infinite;
}

@keyframes floatc {
  0% {
    transform: translatex(120%) scalex(1) scaley(1);
  }
  50% {
    transform: translatex(100%) scalex(1) scaley(1);
  }
  100% {
    transform: translatex(-100%) scalex(1) scaley(1);
  }
}

#Cloud7c,
#Cloud6c,
#Cloud5c,
#Cloud4c,
#Cloud3c,
#Cloud2c,
#Cloud1c {
  animation: floatc 300s linear infinite;
}

/* Here is the spaceship and beam */
@keyframes swoop {
  0% {
    transform: scale(0.01) rotatex(0deg) translatey(0%) translateX(0%);
  }
  20%,
  55% {
    transform: scale(2) rotatex(0deg) translatey(10%) translateX(16.7%);
  }

  60%,
  65% {
    transform: scale(0.01) rotatex(0deg) translatey(0%) translateX(-30%);
  }
  100% {
    transform: scale(0.01) rotatex(0deg) translatey(0%) translateX(-30%);
  }
}

@keyframes beam {
  0% {
    fill: none;
  }
  50% {
    fill: url(#paint5_linear);
  }
  55%,
  100% {
    fill: none;
  }
}

#Beam {
  animation: beam 15s ease-in-out infinite;
}
#Beam2 {
  animation: beam 15s ease-in-out backwards;
}

#spaceship {
  animation: swoop 15s ease-in-out infinite;
}
#spaceship2 {
  animation: swoop 15s ease-in-out backwards;
}

@keyframes blink1 {
  0% {
    fill: #fcfdd3;
  }
  16.7% {
    fill: #fcfdd3;
  }
  33.4% {
    fill: #fcfdd3;
  }
  50.1% {
    fill: red;
  }
  66.8% {
    fill: #fcfdd3;
  }
}
@keyframes blink2 {
  0% {
    fill: #fcfdd3;
  }
  16.7% {
    fill: red;
  }
  33.4% {
    fill: #fcfdd3;
  }
  50.1% {
    fill: #fcfdd3;
  }
  66.8% {
    fill: #fcfdd3;
  }
}
@keyframes blink3 {
  0% {
    fill: #fcfdd3;
  }
  16.7% {
    fill: #fcfdd3;
  }
  33.4% {
    fill: red;
  }
  50.1% {
    fill: #fcfdd3;
  }
  66.8% {
    fill: #fcfdd3;
  }
}
@keyframes blink4 {
  0% {
    fill: #fcfdd3;
  }
  16.7% {
    fill: #fcfdd3;
  }
  33.4% {
    fill: #fcfdd3;
  }
  50.1% {
    fill: #fcfdd3;
  }
  66.8% {
    fill: #fcfdd3;
  }
  83.5% {
    fill: red;
  }
}
@keyframes blink5 {
  0% {
    fill: #fcfdd3;
  }
  16.7% {
    fill: #fcfdd3;
  }
  33.4% {
    fill: #fcfdd3;
  }
  50.1% {
    fill: #fcfdd3;
  }
  66.8% {
    fill: #fcfdd3;
  }
  83.5% {
    fill: #fcfdd3;
  }
  100% {
    fill: red;
  }
}

#bulb16 {
  animation: blink1 1.9s alternate-reverse infinite;
}
#bulb15 {
  animation: blink2 1.9s ease-in-out infinite;
}
#bulb12 {
  animation: blink3 1.9s alternate-reverse infinite;
}
#bulb5 {
  animation: blink4 1.9s ease-in-out infinite;
}
#bulb17 {
  animation: blink5 1.9s alternate-reverse infinite;
}

/* LR totoro disapear */

@keyframes disapear {
  0% {
    fill-opacity: 1;
  }
  48% {
    fill-opacity: 1;
  }
  49% {
    fill-opacity: 0;
  }
  55% {
    fill-opacity: 0;
  }
  100% {
    fill-opacity: 0;
  }
}

@keyframes disapear3 {
  0% {
    fill: #c4c4c4;
  }
  48% {
    fill: #c4c4c4;
  }
  49% {
    fill: none;
  }
  55% {
    fill: none;
  }
  100% {
    fill: none;
  }
}
@keyframes disapear3a {
  0% {
    fill: #c4c4c4;
    fill-opacity: "0.55";
  }
  48% {
    fill: #c4c4c4;
    fill-opacity: "0.55";
  }
  49% {
    fill: none;
    fill-opacity: none;
  }
  55% {
    fill: none;
    fill-opacity: none;
  }
  100% {
    fill: none;
    fill-opacity: none;
  }
}

@keyframes disapear3path {
  0% {
    fill: #808080;
    fill-opacity: "0.55";
  }
  48% {
    fill: #808080;
    fill-opacity: "0.55";
  }
  49% {
    fill: none;
    fill-opacity: none;
  }
  55% {
    fill: none;
    fill-opacity: none;
  }
  100% {
    fill: none;
    fill-opacity: none;
  }
}

@keyframes disapear3c {
  0% {
    fill: #c4c4c4;
    stroke: #3f3d56;
    stroke-opacity: "0.55";
  }
  48% {
    fill: #c4c4c4;
    stroke: #3f3d56;
    stroke-opacity: "0.55";
  }
  49% {
    fill: none;
    stroke: none;
    stroke-opacity: "0.55";
  }
  55% {
    fill: none;
    stroke: none;
    stroke-opacity: "0.55";
  }
  100% {
    fill: none;
    stroke: none;
    stroke-opacity: "0.55";
  }
}

@keyframes disapear4 {
  0% {
    stroke: black;
  }
  48% {
    stroke: black;
  }
  49% {
    stroke: none;
  }
  55% {
    stroke: none;
  }
  100% {
    stroke: none;
  }
}

@keyframes disapear3strokeFill {
  0% {
    fill: #c4c4c4;
    stroke: #3f3d56;
  }
  48% {
    fill: #c4c4c4;
    stroke: #3f3d56;
  }
  49% {
    fill: none;
    stroke: none;
  }
  55% {
    fill: none;
    stroke: none;
  }
  100% {
    fill: none;
    stroke: none;
  }
}

#Line5,
#Line6,
#Line7,
#Line8,
#Line9,
#Line10,
#mouth {
  animation: disapear4 15s forwards ease-in-out;
}

#Rectangle32,
#Rectangle31,
#Rectangle25,
#Rectangle24,
#Rectangle30 {
  animation: disapear3 15s infinite ease-in-out;
}

#Ellipse27_2,
#Ellipse30,
#Ellipse27,
#Ellipse29_2,
#Ellipse47,
#Ellipse49,
#Ellipse50 {
  animation: disapear3path 15s infinite ease-in-out;
}

#Ellipse23 {
  animation: disapear3a 15s infinite ease-in-out;
}

#Ellipse25 path,
#Ellipse25_2 path,
#Star10 path,
#Star5 path,
#Star6 path,
#Star4 path,
#Star7 path,
#Star8 path,
#Star9 path {
  animation: disapear3c 15s infinite ease-in-out;
}

#Ellipse25_2 ellipse,
#Ellipse25 ellipse,
#Ellipse28_2,
#Ellipse22_2,
#Ellipse28,
#Ellipse22,
#Ellipse40,
#Ellipse20,
#Ellipse49_2,
#Ellipse49_4,
#Ellipse46_3,
#Ellipse41_3,
#Ellipse49_3,
#Ellipse46_2,
#Ellipse41_2,
#Ellipse49_2,
#Ellipse46,
#Ellipse41,
#Ellipse39,
#Ellipse29,
#Ellipse38,
#Ellipse37,
#Ellipse33,
#Ellipse31,
#Ellipse32,
#Ellipse19,
#Ellipse18,
#Ellipse51,
#Ellipse52,
#Ellipse60,
#Ellipse61 {
  animation: disapear 15s infinite ease-in-out;
}

#Rectangle30_2,
#Rectangle30_3,
#Rectangle31_3,
#Rectangle31_2,
#Rectangle32_3,
#Rectangle32_2,
#Rectangle30_4,
#Rectangle31_4,
#Rectangle32_4,
#Rectangle38,
#Rectangle36,
#Rectangle36_2,
#Rectangle38_2,
#Rectangle37,
#Rectangle37_2 {
  animation: disapear3strokeFill 15s infinite ease-in-out;
}

/* LR Star movement section */

@keyframes twinkle1 {
  0% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  }
  20% {
    transform: scalex(1.01) scaley(1.01);
    opacity: 0.3;
  }
  21% {
    transform: scalex(1) scaley(1);
    opacity: 0.4;
  }
  30% {
    transform: scalex(1) scaley(1);
    opacity: 0.6;
  }
  40% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  }
  100% {
    transform: scalex(1.01) scaley(1.01);
    opacity: 0.4;
  }
}

@keyframes twinkle2 {
  0% {
    transform: scalex(1) scaley(1);
    opacity: 0.4;
  }
  20% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  }
  21% {
    transform: scalex(1) scaley(1);
    opacity: 0.6;
  }
  30% {
    transform: scalex(1.01) scaley(1.01);
    opacity: 1;
  }
  40% {
    transform: scalex(1) scaley(1);
    opacity: 0.8;
  }
  100% {
    transform: scalex(1.01) scaley(1.01);
    opacity: 0.4;
  }
}

#Ellipse127,
#Ellipse128 {
  animation: twinkle1 5s alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Star139 {
  animation: twinkle2 5s alternate infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Star138,
#Star63,
#Star81,
#Star122,
#Star123,
#Star126,
#Star124 {
  animation: twinkle2 2s alternate-reverse infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
