#dreamerGirl_box {
  display: flex;
  justify-content: center;
  height: 1500px;
  width: auto;
  border: solid black 4px;
  margin: 15px;
}
.ParentBox {
  display: flex;
  justify-content: center;
  height: 600px;
  width: auto;
  border: solid black 4px;
  margin: 15px;
}

@keyframes dangle {
  1% {
    transform: rotatey(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotatey(0deg) rotateZ(15deg);
  }
  100% {
    transform: rotatey(0deg) rotateZ(0deg);
  }
}

#RightFoot {
  /* animation: dangle 2s infinite linear; */
  animation: dangle 2s infinite;

  /* transform-origin: center; */
  transform-box: fill-box;
}

@keyframes float {
  20% {
    transform: rotatey(0deg);
  }
  60% {
    transform: rotatey(100deg);
  }
  80% {
    transform: rotatey(0deg);
  }
}
@keyframes twinkel1 {
  10% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  }
  20% {
    transform: scalex(2) scaley(2);
    opacity: 0.4;
  }
  30% {
    transform: scalex(3) scaley(3);
    opacity: 0.6;
  }
  40% {
    transform: scalex(4) scaley(4);
    opacity: 0.8;
  }
  50% {
    transform: scalex(5) scaley(5);
    opacity: 1;
  }
  60% {
    transform: scalex(4) scaley(4);
    opacity: 0.8;
  }
  70% {
    transform: scalex(3) scaley(3);
    opacity: 0.6;
  }
  80% {
    transform: scalex(2) scaley(2);
    opacity: 0.4;
  }
  /* 100% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  } */
}
@keyframes upDown2 {
  from {
    transform: skewY(12deg) skewX(0deg);
  }
  to {
    transform: skewY(0deg) skewX(12deg);
  }
  100% {
    transform: scalex(1) scaley(1);
    opacity: 0.2;
  }
}
@keyframes upDown3 {
  from {
    transform: skewY(5deg) skewX(0deg);
  }
  to {
    transform: skewY(0deg) skewX(5deg);
  }
}

#Star {
  animation: twinkel1 10s ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#DPlant2,
#DPlant3,
#DPlant1 {
  animation: upDown3 1.7s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Tree1 {
  animation: upDown3 1.7s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Tree2 {
  animation: upDown3 1.8s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}
#Tree3 {
  animation: upDown3 1.6s ease-in-out infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#Cloud {
  animation: float 10s infinite linear;
  /* transform-origin: center; */
}
/* //LR */
@keyframes swoop {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(97, 160, 255, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(97, 160, 255, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(97, 160, 255, 0.7);
  }
}
